replicaCount: 2

image:
  repository: ghcr.io/tripla/terraform-parse
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

env:
  awsRegion: ap-northeast-1
  outputDir: /tmp/generated

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 60

metrics:
  enabled: false
  interval: 30s
  scrapePort: http
  path: /metrics
