replicaCount: 1

image:
  repository: terraform-parse
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50
  targetMemoryUtilizationPercentage: 80

environment: dev

env:
  TPS_AWS_REGION: "eu-west-1"
  TPS_TERRAFORM_OUTPUT_DIR: "/tmp/terraform-output"
